
<div class="container-fluid match-box">
  <div class="row">
    <div class="col-sm-9">
      <h1 class="white-text"> {{game.gameName}} </h1>
      <div class="container-fluid matches">
        <div class="row match" ng-repeat="match in game.matches track by match._id">
          <div class="col-sm-11">
            <div class="container-fluid">
              <div class="row tournament-name">
                <div class="col-sm-3 table-border">
                  {{ match.tournament }}
                </div>
                <div class="col-sm-2 table-border">
                  {{ match.game }}
                </div>
                <div class="col-sm-3 table-border">
                  Payout
                </div>
                <div class="col-sm-4 table-border">
                  Date: {{ match.date | date : 'MM/dd/yy HH:mm' }}
                </div>
              </div>

              <div class="row team-1">
                <div class="col-sm-3 table-border">
                  {{ match.teams[0] }}
                </div>
                <div class="col-sm-3 col-sm-offset-2 table-border">
                  {{ match.odds1 | number : 4}}
                </div>
                <div class="col-sm-4 text-right table-border">
                  <button ng-if="user.user" ng-click="game.betTeam1(match)" class="btn bet-arrow-btn"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></button>
                </div>
              </div>

              <div class="row team-2">
                <div class="col-sm-3 table-border">
                  {{ match.teams[1] }}
                </div>
                <div class="col-sm-3 col-sm-offset-2 table-border">
                  {{ match.odds2 | number : 4}}
                </div>
                <div class="col-sm-4 text-right table-border">
                  <button ng-if="user.user" ng-click="game.betTeam2(match)" class="btn bet-arrow-btn"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></button>
                </div>
              </div>

            </div>
          </div>
        </div> <!-- closes ng-repeat -->
      </div> <!-- closes matches -->
    </div>
    <div ng-if="user.user" class="col-sm-3 bet-slip container">
      <div class="">
        BETSLIP
      </div>
      <form ng-submit="game.placeBet(user.user)">
      <div ng-repeat="bet in game.betSlip track by $index" class="">
        <div class="bet-slip-bet">
          <div>
            <a class="btn x-color" ng-click="game.removeOneBet($index, bet)">X</a>Game: {{bet.game}}
          </div>
          <div class="padding-left-5">
            MATCH: {{bet.teams[0]}} vs. {{bet.teams[1]}}
          </div>
          <div class="padding-left-5">
            PICK: {{bet.teamPick}}
          </div>
          <label class="control-label padding-left-5" for="Risk">Risk:</label>
          <input class="risk-input" ng-model="game.risks[$index]" type="number" required>
        </div>
      </div>
      <div ng-if="game.risks.length > 0">
        <div>
          TOTAL RISK: {{game.totalRisk()}}
        </div>
        <button ng-if="!game.confirm" ng-click="game.setConfirm()" class="btn btn-info btn-vert-spacing center-block">Place Bets</button>
        <button ng-if="game.confirm" class="btn btn-warning btn-vert-spacing center-block">Confirm Bets</button>
        <button ng-click="game.clearBetSlip()" class="btn btn-danger remove-bets-btn center-block">Remove Bets</button>
      </div>
      </form>
    </div> <!-- closes bet-slip -->
  </div>
</div>
