body {
  color: black;
  background-color: #2e6e8c;
  overflow-x: hidden;
}

.tournament-name {
  border: 1px solid-black;
}

.prettyline {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.navbar {
  margin-bottom: 0px !important;
}

.navbar-default {
  border-color: black;
}

.side-nav-account {
  padding-top: 140%;
}

.side-nav-login {
  padding-top: 150%;
}
.sidebar-nav {
  width: 20%;
  margin-top: -52px;
  position: fixed;
}

.sidebar-last-link {
  margin-bottom: 100%
}

.all-games-link {
  margin-top: 5vw;
}


/* make sidebar nav vertical */
@media (min-width: 400px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    background-color: #773333 !important;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
  }
}

.resp-matches {
  display: none !important;
}

/*for responsive nav*/

@media (max-width: 780px) {
  .sidebar-nav {
    display: none;
  }

  .top-bar {
    margin-left: 0 !important;
  }

  .resp-matches {
    display: block !important;
  }

  .resp-matches > a {
    color: white !important;
  }

  .resp-matches > a:hover {
    cursor: pointer;
    background-color: black !important;
  }

  .resp-matches > ul > li > a {
    color: white !important;
  }

  .resp-matches > ul > li > a:hover {
    background-color: black !important;
  }
}



/* Style the list */
ul.tab {
    list-style: none;
    padding: 0;
    margin: 0;
}
li.tab {
    float: left;
    font-size: 20px;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
    color: #696969;
}
#mainView {
  border-top: 1px solid black;
  clear: both;
  padding: 0 1em;
}
.active {
    background-color: #FFF;
    color: #000;
}

.top-bar {
  background-color: #47463b;
  margin-left: 19.8vw;
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 10%;
    margin-bottom: 2px;
}

.dropdown-menu {
  width: 99%;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  cursor: pointer;
  background-color: black !important;
}

.bet-slip {
  border: 1px solid black !important;
  border-radius: 5px;
  background-color: #47463b;
  color: white;
  margin-top: 20px;
  text-align: center
}

.bet-slip-bet {
  margin: 0 -10px;
  border: 1px solid black !important;
  border-radius: 5px;
}

.risk-input {
  width: 8vw;
  color:black;
}

.side-nav-link:hover {
  cursor: pointer;
  background-color: darkgray !important;
}

.sidebar-nav {
  margin-left: -15px;
}

.match-box {
  border: none
}

.match {
  margin: 10px 0;
}

.tournament-name {
  color: white;
  background-color: #773333;
  border: 1px solid black;
  border-radius: 2px;
}

.team-1 {
  background-color: #47463b;
  color: white;
  border: 1px solid black;
  border-radius: 2px;
}

.team-2 {
  background-color: #47463b;
  color: white;
  border: 1px solid black;
  border-radius: 2px;
}

.table-border {
  border-left: : 1px solid black;
  border-right: : 1px solid black;
}

.bet-arrow-btn {
  background-color: #415a9b;
  color: white;
}





