
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <h1> SHOW MATCHES </h1>
      <div class="container-fluid matches">
        <div class="row" ng-repeat="match in home.matches track by match._id">
          <div class="col-sm-9">
            <div class="container-fluid">

              <div class="row tournament-name">
                <div class="col-sm-4">
                  {{ match.tournament }}
                </div>
                <div class="col-sm-4">
                  Odds
                </div>
                <div class="col-sm-4">
                  {{ match.date }}
                </div>
              </div>

              <div class="row team-1">
                <div class="col-sm-4">
                  {{ match.teams[0] }}
                </div>
                <div class="col-sm-6">
                  {{ match.odds1 }}
                </div>
                <div class="col-sm-2 bet-arrow-btn">
                  <button ng-if="user.user" ng-click="home.betTeam1(match)" class="btn">=></button>
                </div>
              </div>

              <div class="row team-2">
                <div class="col-sm-4">
                  {{ match.teams[1] }}
                </div>
                <div class="col-sm-6">
                  {{ match.odds2 }}
                </div>
                <div class="col-sm-2">
                  <button ng-if="user.user" ng-click="home.betTeam2(match)" class="btn bet-arrow-btn">=></button>
                </div>
              </div>

            </div>
          </div>
        </div> <!-- closes ng-repeat -->
      </div> <!-- closes matches -->
    </div>
    <div ng-if="user.user" class="col-sm-3 bet-slip container">
      <div class="">
        BETSLIP
      </div>
      <form ng-submit="home.placeBet(user.user)">
      <div ng-repeat="bet in home.betSlip track by $index" class="">
        <div class="bet-slip-bet">
          <div>
            <a class="btn" ng-click="home.removeOneBet($index, bet)" class="btn-danger">X</a>Game: {{bet.game}}
          </div>
          <div>
            MATCH: {{bet.teams[0]}} vs. {{bet.teams[1]}}
          </div>
          <div>
            PICK: {{bet.teamPick}}
          </div>
          <label class="control-label" for="Risk">Risk:</label>
          <input class="risk-input" ng-model="home.risks[$index]" type="number" required>
        </div>
      </div>
      <div ng-if="home.risks.length > 0">
        <div>
          TOTAL RISK: {{home.totalRisk()}}
        </div>
        <button class="btn btn-success">Place Bets</button>
        <button ng-click="home.clearBetSlip()" class="btn btn-danger">Remove Bets</button>
      </div>
      </form>
    </div> <!-- closes bet-slip -->
  </div>
</div>
