
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h1> SHOW MATCHES </h1>
      <div class="container-fluid matches">
        <div class="row" ng-repeat="match in home.matches track by match._id">
          <div class="col-sm-9">
            <div class="container-fluid">

              <div class="row tournament-name">
                <div class="col-sm-6">
                  {{ match.tournament }}
                </div>
              </div>

              <div class="row team-1">
                <div class="col-sm-4">
                  {{ match.teams[0] }}
                </div>
                <div class="col-sm-6">
                  {{ match.odds }}
                </div>
                <div class="col-sm-2">
                  <button ng-if="user.isLoggedIn" ng-click="home.betTeam1(match)" class="btn">=></button>
                </div>
              </div>

              <div class="row team-2">
                <div class="col-sm-4">
                  {{ match.teams[1] }}
                </div>
                <div class="col-sm-6">
                  {{ 1/match.odds }}
                </div>
                <div class="col-sm-2">
                  <button ng-if="user.isLoggedIn" ng-click="home.betTeam2(match)" class="btn">=></button>
                </div>
              </div>

            </div>
          </div>
        </div> <!-- closes ng-repeat -->
      </div> <!-- closes matches -->
    </div>
    <div ng-if="user.isLoggedIn" class="col-sm-3 bet-slip container">
      <div class="">
        BETSLIP
      </div>
      <div ng-repeat="bet in home.betSlip track by $index" class="">
        <!-- TODO: MAKE A FORM -->
        <div>
          <button>X</button>Game: {{bet.game}}
        </div>
        <div>
          MATCH: {{bet.teams[0]}} vs. {{bet.teams[1]}}
        </div>
        <div>
          PICK: {{bet.teamPick}}
        </div>
        <label class="control-label" for="Risk">Risk:</label>
        <input ng-model="home.risks[$index]" type="number">
      </div>
      <div ng-if="home.risks.length > 0">
        <div>
          TOTAL RISK: {{home.totalRisk()}}
        </div>
        <button ng-click="home.placeBet(user.user)" class="btn btn-success">Place Bets</button>
        <button ng-click="home.clearBetSlip()" class="btn btn-danger">Remove Bets</button>
      </div>
    </div> <!-- closes bet-slip -->
  </div>
</div>
